*{
    margin: 0;
    padding: 0;
}
/* -navbar */
nav{
    /* background-color: #4cbf50; */
    width: 100%;
    position: sticky;
    top: 0;
    transition:0.5s ease-out;
    z-index: 100;
}
nav.actv{
top: 0px;
z-index: 100;  /*  */
position: sticky;
/* background-color: #4CAF50; */
transition:0.5s ease-out;
box-shadow: 0px 0px 12px 3px rgba(194,194,194,0.75);
-webkit-box-shadow: 0px 0px 12px 3px rgba(194,194,194,0.75);
-moz-box-shadow: 0px 0px 12px 3px rgba(194,194,194,0.75);
}
.ul-1{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    
}
.logoo{
    font-family:supercell-magic;
    font-size: 18px;
    margin: 10px;
}
  .li-1{
   margin: 10px 10px 0 10px;
  }
  .label-navbar{
    margin: 10px 10px 0 10px;
  }
   .li-1 a{
    /* color: white; */
   position: relative;
   font-family: 'Poppins',sans-serif;
   font-size: 15px;
   font-weight: bold;
   padding: 0 10px;
   letter-spacing: 0.4px;
  }
  .li-1 a::after{
    content: "";
    position: absolute;
    background: greenyellow;
    border: 10px;
    height: 2px;
    width: 0%;
    left: 0;
    bottom: -5px;
    /* transform-origin: right;
    transform: scaleX(0); */
    transition: 0.3s;
  }
  .li-1 a:hover::after{
    /* transform-origin: left;
    transform: scaleX(1); */
    width: 100%;
  }
@media(max-width:767px){
nav{
    /* background-color: aqua; */
    height: 60px;
    width: 100%;
}
.logoo{
    font-size: larger;
    font-weight: bold;
    margin: 20px 0 10px 20px;
}
 .label-navbar{
    margin: 20px 20px 0 10px;
}
.div-navbar{
    position: fixed;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    backdrop-filter: blur(2px);
    top:60px;
    left:-100%;
    transition: all .5s;
    display: block;
    background: rgba(205, 202, 202, 0.375);
    height: 50vh;
    width: 100%;
 }
 .icon-list{
    cursor: pointer;
 }
.ul-1{
   
   /* opacity: .2; */
   /* background: blue; */
   display: flex;
   flex-direction: column;
   align-items: flex-start;
  }
  .li-1 a{
    color: black;
opacity: 1;
width: 100%;

  }

 #check:checked ~ .div-navbar {
   left: 0;
   
}
}
/* .label1{
transform: translateY(0);
float: right;
} */
.label2{
opacity: 0;
transform: translateY(-25px);
}
/* //-navbar */

.artikel-home{
    display: none;
}
#readMore:checked ~ .artikel-home{
    display: block;
    
}

.b-more{
    font-family: 'Mulish', sans-serif;
    color: #0d6efd;
    font-weight: bold;
    cursor: pointer;
    font-size:20px;
}
.b-more:hover{
    color: #0b5ed7;
}

.b-more2{
    font-family: 'Mulish', sans-serif;
    color: #0d6efd;
    font-weight: bold;
    cursor: pointer;
    font-size:20px;
}
.b-more2:hover{
    color: #0b5ed7;
}

#readMore:checked ~ .b-more{
    display: none;
}

.artikel-home2{
    display: none;
}
#readMore2:checked ~ .artikel-home2{
    display: block;
}
#readMore2:checked ~ .b-more2{
    display: none;
}
/* -------------- img-di-view ------------- */
.img-di-view{
    width: 35%;
    float:left;
}
@media(max-width:420px) {
    .img-di-view{
        width: 90%;
        /* float:left; */
    }
}
/* -------------- // img-di-view ------------- */
.kotak-home1{
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}
/* .kotak-home1:hover{
    transition: all 0.4s ease-in-out;
    width: 100%;
    height: 100%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
} */
.kotak-home2{
    border-right: 1px solid gray;
}
.garis-berita-home{
    border-bottom: 5px solid #28a745;
    width: 20%;
    /* background-color: red; */
}
.garis-sambutan-home{
    border-bottom: 5px solid #28a745;
    width: 50%;
    /* background-color: red; */
}
.icon-berita-home{
    animation: animate 2.5s ease-in-out infinite alternate-reverse both;
}
@keyframes animate{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-5px);
    }
}
.judul-artikel-home{
    font-family: monospace; 
}
.row-berita{
    cursor: pointer;
    border: 1px solid black;
    height: 30%;
    margin: 5px;
}
.row-berita:hover{
    margin-left: 5px;
    transition: all 0.4s ease-in-out;
}
.garis-footer{
    border-right: 4px dotted gray;
    /* float:right; */
    margin-bottom: 5px;
}
.div-footer{
    border-top: solid #28a745;
}
.footer-k{
    font-family: monospace;
}
@media screen and (max-width: 550px){
    .kotak-home2{
        border:none;
    }
}

.dropbtn {
    /* background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer; */
    cursor: pointer;
  }
  
  .dropdown {
    /* float: right; */
    /* position: relative; */
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* .dropdown a:hover {background-color: #ddd;} */
  
  .show {display: block;}

  .tescss{
    color: red;
    font-family: monospace;
  }
  .gambar{
    width: 100px;
    height: 100px;
}
.icn{
    color: red !important;
}
.kotak-home1{
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}
.SelamatD{
font-family: "Audiowide", sans-serif;
font-weight:bolder;
font-size:50px;
/* float: left; */
}
.daun{
height: 50px;
}
.kotak-home2{
font-family: monospace;
}
/* footer */
*{
    margin: 0;
    padding: 0;
}
.footer{
    width: 100%;
    background-color: #3a4753;
}
.d1{
    padding: 20px 20px 20px 70px;
}
.link1{
    color:#0ea2bd;
    text-decoration: none;
}
.tombol-footer{
    float: right;
}
.up{
    /*     float:right; */
    right:0%;
    position: fixed;
/*     position: sticky; */
    bottom: 0px;
    text-decoration: none;
    z-index: 2;
    margin: 30px 20px;
    display: block;
    transition: all .5s ease-in-out;
    visibility: visible;
    /* opacity: 1; */
}
.up.actv-footer{
    /* display: none; */
    /* visibility: hidden; */
    transition: all .4s ease-in-out;
    right: -100%;
    /* position: fixed; */
}
/* .spn-footer{
    color: white;
}
.footer_ig{
    color: red;
} */
.footer_ig:hover{
    transform: translateY(20px);
    
}
@media(max-width:500px){
      .d1{
         padding: 10px 0 20px 0;
      }
      .tombol{
        float: none;
       align-items: center; 
      }
      .txt{
        /* text-align:start; */
        margin: 5px;
      }
      .tombol-footer{
        display: flex;
        justify-content: center;
    }
}

/* halaman */
.card-usr{
    transition:0.4s ease-out;
    text-decoration: none;
    cursor: pointer;
}
.card-usr:hover{
    transform: translateY(-7px);
    transition:0.4s ease-in-out;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 0px 12px 3px rgba(194,194,194,0.75);
-webkit-box-shadow: 0px 0px 12px 3px rgba(194,194,194,0.75);
-moz-box-shadow: 0px 0px 12px 3px rgba(194,194,194,0.75);
}
.kontainer-hal{
    box-shadow: 0px 0px 12px 3px rgba(194,194,194,0.75);
    -webkit-box-shadow: 0px 0px 12px 3px rgba(194,194,194,0.75);
    -moz-box-shadow: 0px 0px 12px 3px rgba(194,194,194,0.75);
}

/* list */
.card-list {
    transition:0.4s ease-out;
    text-decoration: none;
    cursor: pointer;
}
.card-list:hover{
    transform: translateY(-4px);
    transition:0.4s ease-in-out;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 0px 12px 3px rgba(194,194,194,0.75);
-webkit-box-shadow: 0px 0px 12px 3px rgba(194,194,194,0.75);
-moz-box-shadow: 0px 0px 12px 3px rgba(194,194,194,0.75);
}
/* user search */
.user-search{
  float:right;
}
.arrow-left-svg{
    transform: translateY(0px);
    transition: all .5s;
    cursor: pointer;
}
.arrow-left-svg:hover{
    transform: translateY(-4px);
    cursor: pointer;
}